html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/** Globales **/


/** Utilidades **/


/** Header **/


/** Navegacion **/


/** Contacto **/


/** Experiencia **/


/** Habilidades **/


/** Sobre Mi **/


/** Portfolio **/